.logo {
  margin-top: 10px;
  margin-left: 65px;
  width: 250px;
  height: 250px;
}


.signin{
  margin-top: 40px;
  margin-left: 25%;
  color: #48AAAD;

}

a{
  text-decoration:none;
  color: #48AAAD;

} 

.button{


background: #48AAAD;
border: 1px solid #48AAAD;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
border-radius: 14px;
}