<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>
     Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <img class="logo" src="../../assets/img/logo.png" width="157px" height="157px"/>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <button [routerLink]="['/doctor-register']" expand="block" fill="solid" style="--background:#48AAAD" class="button"><span class="button-text">I am a doctor</span></button>
        <br>
        <button [routerLink]="['/patient-register']" expand="block" fill="solid" style="--background:#48AAAD"class="button"><span class="button-text">I am a patient</span></button>
        <br>
        <ion-row class="signin">
          <span>Already a user?</span>
          <a [routerLink]="['/sign-in']"> Sign In</a>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>