.content{
    margin-top: 50px;
    --background: #ffffff;
}

.item{
    --background: #ffffff !important;
    --color: #575757;
    margin-top: 15px;
}

ion-icon{
    color: #48aaad;
    padding-right: 5px;
}