<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">

  <div *ngIf="confirm" class="confirm">
    <h5>Appointment Details</h5>
    <div class="appoint" >
      <ul style="list-style: none;" class="list">
        <li style="font-size: 15px; font-weight: bold;">Appointment for Palesa Sithebe</li>
        <li>Dr Mokoena(GP)</li>
        <li>Date: 08 Agust 2020</li>
        <li>Time: 10:00-11:00</li>
        <li>Payment: Card</li>
        <li>
        
        </li>
       </ul>
       <ion-row >
        <ion-col>
          <ion-button class="save" (click)="confirmation()" type="submit" fill="solid" size="small" style="--background:#48AAAD" item-right><span class="save">Confirm</span></ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div *ngIf="!confirm" class="confirm">
    <h5>Success!!</h5>
    <div class="appoint" >
      <ion-icon name="checkmark-circle-outline" style="zoom:5.0; color: black;"></ion-icon>
      <p>Your appointment request has been sent to the doctor</p>
       <ion-row >
        <ion-col>
          <ion-button class="save" [routerLink]="['/consultation']" type="submit" fill="solid" size="small" style="--background:#48AAAD" item-right><span class="save">Start Consultattion</span></ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>

</ion-content>
