.confirm{
    background-color: #48AAAD;
    width: 90%;
    margin-bottom: 10px;
    padding-top: 10px;
    border-radius: 3px;
    margin-left: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    display: inline-block;
    color: white;
  }

  h5{
    text-align: center;
}
  