<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">

  <ion-searchbar class="search"></ion-searchbar>
  <div *ngIf="shows">
<ion-grid >
  <ion-row>
    <div class="row">
      <div class="column">
        <a (click)="generalPractitioner()">
        <img src="assets/img/doctor.png" alt="Snow" class="suggest" style="width:100%">
        <div class="centered">General Practitioner</div>
      </a>
      </div>
      <div class="column">
        <a (click)="dentist()">
        <img src="assets/img/dentist.png" alt="Forest" class="suggest" style="width:100%">
        <div class="centered">Dentist</div>
        </a>
      </div>
      <div class="column">
        <a (click)="neurologist()">
        <img src="assets/img/neurology.png" alt="Forest" class="suggest" style="width:100%">
        <div class="centered">Neurologists</div>
        </a>
      </div>
    </div>
    
  </ion-row>
</ion-grid>
<div class="recommend" *ngFor="let item of rate; index as i">
  <img class="doctors" src="assets/img/doctor2.jpg" alt="Snow" style="width:30%">
  <ul style="list-style: none;" class="list">
    <li style="font-size: 15px; font-weight: bold;">{{item["name"]}}</li>
    <li>{{item["practice"]}}</li>
    <li>{{item["distance"]}}</li>
    <li>{{item["address"]}}</li>
    <li style="font-weight: bold;">{{item["time"]}}</li>
    <li>
      <ion-icon name="star" style="color: orange;"></ion-icon>
      <ion-icon name="star" style="color: orange;"></ion-icon>
      <ion-icon name="star" style="color: orange;"></ion-icon>
      <ion-icon name="star" style="color: orange;"></ion-icon>
      <ion-icon name="star" style="color: orange;"></ion-icon>
    </li>
   </ul>
</div>
</div>
<div *ngIf="!shows">
  <div class="recommend" *ngFor="let item of rate; index as i">
    <img class="doctors" src="assets/img/doctor2.jpg" alt="Snow" style="width:30%">
    <ul style="list-style: none;" class="list">
      <li style="font-size: 15px; font-weight: bold;">{{item["name"]}}</li>
      <li>{{item["practice"]}}</li>
      <li>{{item["distance"]}}</li>
      <li>{{item["address"]}}</li>
      <li style="font-weight: bold;">{{item["time"]}}</li>
      <li>
        <ion-icon name="star" style="color: orange;"></ion-icon>
        <ion-icon name="star" style="color: orange;"></ion-icon>
        <ion-icon name="star" style="color: orange;"></ion-icon>
        <ion-icon name="star" style="color: orange;"></ion-icon>
        <ion-icon name="star" style="color: orange;"></ion-icon>
      </li>
     </ul>
  </div>
</div>
</ion-content>
