.logo {
  margin-top: 10px;
  margin-left: 125px;
}

.tool,
.content {
  --background: #ffffff;
}
.signin {
  margin-top: 40px;
  margin-left: 25%;
  color: #48aaad;
}

.input {
  font-family: "BentonSans-Medium";
  width: 70%;
  margin: 10px 15%;
  display: inline-block;
  border: 1px solid #48aaad;
  border-radius: 4px;
  box-sizing: border-box;
  color: #000000;
}

.input::placeholder {
  font-family: "BentonSans-Medium";
  font-size: 12px;
  color: #ada8a8;
  text-align: justify;
}
.has-focus {
  border: 1px solid #48aaad;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.native-input.sc-ion-input-ios {
  padding: 12px 12px 12px 12px;
}

.button {
  text-align: center;
}
a {
  text-decoration: none;
  color: #48aaad;
}
